<!DOCTYPE html>
<% include ./header %>
<html>
<title>查詢存貨</title>

<link href="/stylesheets/main.css" rel="stylesheet">

<link href="/stylesheets/sidebar.css" rel="stylesheet">

<body>
<div id="wrapper">
    <!-- Sidebar -->

    <div id="page-content-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">查詢存貨</h1>
                </div>
            </div>

        </div>

        <form method="post" action="/inventory/reload">
            <input type="submit" value="更新"/>
        </form>



        <table>
            <tr>

                <th>No</th>
                <th>原料名稱</th>
                <th>原料價格</th>
                <th>現有存貨</th>
                <th>提前期</th>
                <th>安全存量</th>
                <th width=125px>警示指標</th>
            </tr>
            <% if(Materials){
            for(var i = 0;i < 4;i++) {%>
            <tr>
                <td width="33"><%=Materials[i].Material_ID%></td>
                <td width="98.67"><%=Materials[i].Name%></td>
                <td width="81.33"><%=Materials[i].Price%></td>
                <td width="82.67"><%=Materials[i].Stock%></td>
                <td width="75">4</td>
                <td width="84"><%=Materials[i].Alert_Value%></td>
                    

                    <% if(1862 < (5000 - 523*(Materials[i].days%9)) &&  (5000 - 523*(Materials[i].days%9)) < Materials[i].Alert_Value){%>
                        <td width="128"><font color="#FF0000"><%=Materials[i].Name%>需要補貨</font></td>
                    
                    <%}else if( (5000 - 523*(Materials[i].days%9)) <= 1862){%>
                        <td width="128"><span style="color:yellow;"><%=Materials[i].Name%>補貨中</span></td>
                    
                    <%}else{%>
                        <td width="128"><%=Materials[i].Name%>不需要補貨</td>
                    <%}%>
            </tr>
            <% }
            }else{ %>
            <tr>
                <td colspan="5" >查無結果</td>
            </tr>
            <% } %>
        </table>

         <table>
            <tr>

                <th>No</th>
                <th>原料名稱</th>
                <th>原料價格</th>
                <th>現有存貨</th>
                <th>提前期</th>
                <th>最佳存貨</th>
                <th width=125px>警示指標</th>
            </tr>
            <% if(Materials){
            for(var i = 4;i < Materials.length;i++) {%>
            <tr>
                <td width="33"><%=Materials[i].Material_ID%></td>
                <td width="98.67"><%=Materials[i].Name%></td>
                <td width="81.33"><%=Materials[i].Price%></td>
                <td width="82.67"><%=Materials[i].Stock%></td>
                <td width="75">4</td>
                <td width="84"><%=Materials[i].Alert_Value%></td>
                    

                    <% if(149 < Materials[i].Stock && Materials[i].Stock < Materials[i].Alert_Value){%>
                        <td width="128"><font color="#FF0000"><%=Materials[i].Name%>需要補貨</font></td>
                    
                    <%}else if(Materials[i].Stock <= 149){%>
                        <td width="128"><span style="color:yellow;"><%=Materials[i].Name%>補貨中</span></td>
                    
                    <%}else{%>
                        <td width="128"><%=Materials[i].Name%>不需要補貨</td>
                    <%}%>
            </tr>
            <% }
            }else{ %>
            <tr>
                <td colspan="5" >查無結果</td>
            </tr>
            <% } %>
        </table>

    </div>
</div>
</body>
</html>
